openapi: 3.0.3
info:
  title: GoToWebinar REST Attendees Recordings API
  version: '2.0'
  description: 'REST API for the GoTo (formerly Citrix / LogMeIn) GoToWebinar virtual event platform.

    Operations cover webinars, organizers, registrants, attendees, sessions, co-organizers,

    panelists, polls, questions, surveys, and recordings.


    Source documentation: https://developer.goto.com/GoToWebinarV2

    '
  contact:
    name: GoTo Developer Support
    email: developer-support@goto.com
    url: https://developer.goto.com/support
  license:
    name: GoTo Developer Terms
    url: https://www.goto.com/company/legal
servers:
- url: https://api.getgo.com/G2W/rest/v2
  description: GoToWebinar V2 production base URL
security:
- oauth2: []
tags:
- name: Recordings
  description: Retrieve webinar recording assets.
paths:
  /organizers/{organizerKey}/recordingassets:
    get:
      tags:
      - Recordings
      summary: List Recording Assets For An Organizer
      operationId: listRecordingAssets
      parameters:
      - $ref: '#/components/parameters/OrganizerKey'
      - name: fromTime
        in: query
        schema:
          type: string
          format: date-time
      - name: toTime
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Recording assets.
components:
  parameters:
    OrganizerKey:
      name: organizerKey
      in: path
      required: true
      schema:
        type: string
      description: Authenticated organizer's key.
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 via the GoTo authentication service.
      flows:
        authorizationCode:
          authorizationUrl: https://authentication.logmeininc.com/oauth/authorize
          tokenUrl: https://authentication.logmeininc.com/oauth/token
          refreshUrl: https://authentication.logmeininc.com/oauth/token
          scopes:
            collab: Collaboration / GoToWebinar scope.
            identity:scim.me: Read the authenticated user's identity (SCIM /me).
